/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Hero Banner Section */
.hero-banner {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  background-image: url('/assets/img/header-image.jpg');
  background-size: cover;
  background-position: center;
  color: white; /* Ensure text is visible */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content h1 {
  font-size: 2.5em; /* Adjust title font size */
  font-weight: bold;
}

.hero-content p {
  font-size: 1.2em; /* Adjust description font size */
  margin-top: 10px;
}


/* General Styles */
body {
  background-color: #fff;
  padding-top: 70px; /* Adjust this to match navbar height */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  color: #595959;
  font-weight: 400;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.763);
  z-index: 9999;
}

.navbar-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.navbar-title {
  flex: 1;
  text-align: center;
}

.navbar-title a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.navbar-toggle {
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: block;
}

.navbar-toggle span {
  font-size: 30px;
  color: white;
}

/* Table of Contents Menu (Sidebar) */
.toc-menu {
  position: fixed;
  top: 70px; /* Adjust this to match navbar height */
  right: -300px; /* Start off-screen */
  width: 300px;
  height: calc(100% - 70px); /* Adjust height accordingly */
  background-color: #f8f8f8;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 9998;
  overflow-y: auto;
}

/* When the menu is visible */
.toc-menu.visible {
  right: 0; /* Bring it into view */
}

/* =table of content */
.toc-menu h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  align-items: center;
}

/* TOC Styles */
.toc-menu ul {
  list-style: none;
  padding-left: 0;
}

.toc-menu li {
  margin-bottom: 5px;
}
.toc-menu a {
  text-decoration: none;
  color: black;       
}

.toc-level-1 a {
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  font-weight: bold;
}

.toc-level-2 a {
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  margin-left: 15px;
  font-weight: bold;
}

.toc-level-3 a {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  margin-left: 30px;
  font-weight: bold;
}

/* Heading Styles */
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.75em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h5 {
  font-family: 'Playfair Display', serif;
  font-size: 1.25em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h6 {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  color: #333;
}

/* Offset for Anchors to Account for Fixed Navbar */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  display: block;
  content: " ";
  margin-top: -70px; /* Negative margin equal to navbar height */
  height: 70px; /* Height equal to navbar height */
  visibility: hidden;
}

.hidden {
  display: none;
}